
services:
  pithyurl_postgres:
    container_name: pithyurl_postgres
    build:
      context: ./postgres
      dockerfile: ./Dockerfile
    networks:
      - reverse_proxy_network
    volumes:
      - pithyurl_postgres_data:/var/lib/postgresql
    restart: unless-stopped

  pithyurl:
    image: pithyurl
    build:
      context: .
      dockerfile: ./Dockerfile
    networks:
      - reverse_proxy_network
    depends_on:
      - pithyurl_postgres
    restart: unless-stopped


networks:
  reverse_proxy_network:
      external: true

volumes:
  pithyurl_postgres_data:
